%p
  %strong Number(s)
  %ul
    - phone_numbers.each do |phone|
      %li
        = number_to_phone(phone.number)
        = link_to('edit', edit_phone_number_path(phone))
        = link_to 'delete', phone.number, method: :delete, data: { confirm: 'Are you sure?' }